# Введение в SQL и его связь с Python

SQL (Structured Query Language) — это стандартный язык для управления реляционными базами данных. С его помощью можно выполнять такие операции, как выборка, вставка, обновление и удаление данных.

## Основные базы данных
Существует множество реляционных баз данных, но наиболее распространенные:

* MySQL: Одна из самых популярных СУБД, часто используется для веб-приложений.
* PostgreSQL: Обеспечивает более сложные функции, такие как работа с JSON и расширяемые типы данных.
* SQLite: Легкая, встроенная база данных, часто используется для разработки и тестирования.

Как Python работает с SQL
Python может взаимодействовать с базами данных с помощью различных библиотек. Вот некоторые из них:

* sqlite3: Стандартная библиотека для работы с SQLite.
* SQLAlchemy: ORM (Object-Relational Mapping) библиотека для работы с различными СУБД.
* pandas: Позволяет загружать данные из SQL в DataFrame для анализа.

In [1]:
import sqlite3

connection = sqlite3.connect('example.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

cursor.execute('''
INSERT INTO users (name, age) VALUES
('Alice', 30),
('Bob', 25)
''')

connection.commit()
connection.close()

## Основные типы данных в SQL

### Числовые типы данных
INT (или INTEGER): Целочисленные значения. Пример: 1, 42, -10.  
FLOAT: Числа с плавающей запятой. Пример: 3.14, -0.001.  
DOUBLE: Двойная точность для чисел с плавающей запятой. Обычно используется для хранения более точных значений.  
DECIMAL (или NUMERIC): Числа с фиксированной точкой, подходящие для финансовых расчетов. Например, DECIMAL(10, 2) может хранить значения до 10 цифр, из которых 2 находятся после запятой (например, 12345678.90).  

### Строковые типы данных
CHAR(n): Строка фиксированной длины. Если строка короче указанного размера, она будет дополнена пробелами. Пример: CHAR(5) может хранить "abc ".  
VARCHAR(n): Строка переменной длины. Может хранить до n символов, не добавляя пробелы. Пример: VARCHAR(50) может хранить "Hello World".  
TEXT: Длинные строки, используемые для хранения текстовых данных. Не имеет фиксированного размера, но может занимать много места.  

### Типы данных для даты и времени
DATE: Хранит даты. Пример: 2024-10-29.  
TIME: Хранит время (часы, минуты, секунды). Пример: 14:30:00.  
DATETIME: Хранит как дату, так и время. Пример: 2024-10-29 14:30:00.  
TIMESTAMP: Сохраняет момент времени в формате UNIX (количество секунд с 1 января 1970 года).  

### Логические типы данных
BOOLEAN: Хранит логические значения TRUE или FALSE. Некоторые базы данных используют TINYINT (0 или 1) вместо этого.  

### Специальные типы данных
BLOB: Используется для хранения двоичных данных, таких как изображения или файлы.  
JSON: В некоторых базах данных (например, PostgreSQL) поддерживается тип данных для хранения JSON-объектов.

```SQL
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE,
    is_active BOOLEAN
);
```

# Практическое задание

<li>Создай простую базу данных с помощью библиотеки sqlite3 в Python.
<li>Создай таблицу products с полями id, name, price и quantity.
<li>Вставь несколько строк в таблицу products (например, 3-5 продуктов).
<li>Выведи содержимое таблицы products.

In [4]:
import sqlite3

connection = sqlite3.connect("shop.db")
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY,
    name VARCHAR(50),
    price DECIMAL,
    quantity INT
)               
''')

In [5]:
cursor.execute('''
INSERT INTO products(name, price, quantity) VALUES
('P - A', 123.45, 3),
('P - B', 456.78, 2),               
('P - C', 789.01, 1)               
''')

connection.commit()

In [6]:

cursor.execute('SELECT * FROM products')

for row in cursor.fetchall():
    print(row)
    
connection.close()

(1, 'P - A', 123.45, 3)
(2, 'P - B', 456.78, 2)
(3, 'P - C', 789.01, 1)