# Основные команды SQL

## Команда INSERT

INSERT добавляет новые строки в таблицу. Обычно указываются конкретные значения для столбцов, которые мы хотим заполнить.

Синтаксис:
```SQL
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);
```
Предположим, у нас есть таблица employees
```SQL
INSERT INTO employees (name, age, department_id) 
VALUES ('Alice', 30, 1);
```
Вставка нескольких строк
```SQL
INSERT INTO employees (name, age, department_id) 
VALUES 
    ('Bob', 25, 2),
    ('Charlie', 35, 1);
```

### Практическое задание

* Создай таблицу customers с полями id, name, email.
* Вставь 3–5 записей в эту таблицу.

In [22]:
import sqlite3

connection = sqlite3.connect('departament.db')
cursor = connection.cursor()

In [23]:
cursor.execute(
'''
CREATE TABLE IF NOT EXISTS customers(
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    email VARCHAR(50)
);
'''
)
cursor.execute(
'''
INSERT INTO customers(name,age, email)
VALUES
    ('Serj', 21, 's-hromin@mail.ru'),
    ('Liza', 20, 'liza@mail.ru');
'''
)
connection.commit()

In [24]:
cursor.execute(
'''
SELECT * FROM customers
'''
)
for row in cursor.fetchall():
    print(row)

(None, 'Serj', 21, 's-hromin@mail.ru')
(None, 'Liza', 20, 'liza@mail.ru')

In [25]:
connection.close()

## Команда UPDATE

UPDATE позволяет изменять значения в уже существующих строках таблицы. Важно использовать WHERE, чтобы обновить только нужные строки, иначе изменение затронет все строки в таблице.

Синтаксис:
```SQL
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```
Пример
```SQL
UPDATE employees
SET age = 31
WHERE name = 'Alice';
```
Обновление нескольких
```SQL
UPDATE employees
SET age = 32, department_id = 2
WHERE name = 'Alice';
```

### Практическое задание

* Обнови возраст одного из клиентов в таблице customers.
* Попробуй изменить email нескольких клиентов сразу.

In [26]:
import sqlite3

connection = sqlite3.connect('departament.db')
cursor = connection.cursor()

In [27]:
cursor.execute(
'''
UPDATE customers
SET age = 21 
WHERE name = 'Liza';
'''
)
connection.commit()

cursor.execute(
'''
SELECT * FROM customers
'''
)

for row in cursor.fetchall():
    print(row)

(None, 'Serj', 21, 's-hromin@mail.ru')
(None, 'Liza', 21, 'liza@mail.ru')

In [28]:
connection.close()

## Команда DELETE

DELETE удаляет строки из таблицы. Как и с UPDATE, нужно аккуратно использовать WHERE, чтобы не удалить все строки.

Синтаксис:
```SQL
DELETE FROM table_name WHERE condition;
```
Пример использования:
```SQL
DELETE FROM employees WHERE name = 'Charlie';
```
Удаление всех строк
Чтобы удалить все строки в таблице, можно не указывать условие WHERE (выполняется с осторожностью, так как вся таблица будет очищена):
```SQL
DELETE FROM employees;
```

### Практическое задание

* Удали одного из клиентов из таблицы customers по имени.
* Удали всех клиентов, у которых нет email (используй IS NULL для проверки на NULL).

In [29]:
import sqlite3

connection = sqlite3.connect('departament.db')
cursor = connection.cursor()

In [31]:
cursor.execute(
'''
DELETE FROM customers WHERE name = 'Serj'
'''
)
connection.commit()

cursor.execute(
'''
SELECT * FROM customers
'''
)

for row in cursor.fetchall():
    print(row)

(None, 'Liza', 21, 'liza@mail.ru')

In [32]:
connection.close()

## Команда SELECT

SELECT — это основная команда для выборки данных из таблицы. С её помощью можно указать, какие столбцы или данные нас интересуют.

Синтаксис:
```SQL
SELECT column1, column2, ...
FROM table_name;
```
Пример использования:  
Предположим, у нас есть таблица employees с данными о сотрудниках.
```SQL
SELECT name, age FROM employees;
```
Этот запрос выберет только столбцы name и age из таблицы employees.

Специальные команды:
* SELECT *: выберет все столбцы таблицы.
* AS: позволяет задать псевдонимы для столбцов, чтобы временно изменить их название.
```SQL
SELECT name AS employee_name, age AS employee_age FROM employees;
```

### Практическое задание

* Создай таблицу products с полями id, name, price, quantity.
* Вставь в неё 3-5 товаров.
* Напиши запрос, который выберет только имена и цены всех товаров.

In [1]:
import sqlite3

connection = sqlite3.connect("shop.db")
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY,
    name VARCHAR(50),
    price DECIMAL,
    quantity INT
)               
''')

cursor.execute('''
INSERT INTO products(name, price, quantity) VALUES
('P - D', 123.45, 3),
('P - F', 456.78, 2),               
('P - G', 789.01, 1)               
''')

connection.commit()

cursor.execute('SELECT name, price FROM products')

for row in cursor.fetchall():
    print(row)
    
connection.close()

('P - A', 123.45)
('P - B', 456.78)
('P - C', 789.01)
('P - D', 123.45)
('P - F', 456.78)
('P - G', 789.01)

## Команда WHERE

WHERE позволяет добавлять условия, чтобы выбрать только те строки, которые удовлетворяют определённым критериям.

Синтаксис:
```SQL
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```
Пример использования:
```SQL
SELECT name, price FROM products WHERE price > 50;
```
Этот запрос выберет только те товары, у которых цена выше 50.

Операторы сравнения:
* =: равно
* <> или !=: не равно
* \>: больше
* <: меньше
* \>=: больше или равно
* <=: меньше или равно

Логические операторы:
* AND: объединяет условия (все условия должны быть истинны).
* OR: объединяет условия (хотя бы одно условие должно быть истинно).
* NOT: используется для отрицания.

Пример
```SQL
SELECT name, price FROM products WHERE price > 50 AND quantity < 100;
```

### Практическое задание

* Добавь условия в запрос, чтобы выбрать только те товары, у которых количество меньше 150 и цена больше 20.
* Попробуй написать запрос с использованием OR и NOT.

In [2]:
import sqlite3

connection = sqlite3.connect("shop.db")
cursor = connection.cursor()

In [3]:
cursor.execute('''
SELECT name, price FROM products WHERE (price > 100 AND price < 200) or  price = 789.01
''')

for row in cursor.fetchall():
    print(row)

('P - A', 123.45)
('P - C', 789.01)
('P - D', 123.45)
('P - G', 789.01)

In [4]:
connection.close()

## Команда ORDER BY

ORDER BY используется для сортировки результатов запроса по одному или нескольким столбцам.

Синтаксис:
```SQL
SELECT column1, column2, ...
FROM table_name
ORDER BY column1 [ASC|DESC], column2 [ASC|DESC];
```
* ASC: сортировка по возрастанию (по умолчанию).
* DESC: сортировка по убыванию.
Пример
```SQL
SELECT name, price FROM products ORDER BY price DESC;
```
Этот запрос вернёт товары, отсортированные по цене в порядке убывания.

Пример по нескольким столбцам
```SQL
SELECT name, price, quantity FROM products ORDER BY price DESC, quantity ASC;
```

### Практическое задание

* Напиши запрос, который выберет все товары и отсортирует их по количеству по возрастанию.
* Попробуй добавить несколько условий в ORDER BY, например, сортировать сначала по цене, затем по названию товара в алфавитном порядке.

In [5]:
import sqlite3

connection = sqlite3.connect('shop.db')
cursor = connection.cursor()

In [7]:
cursor.execute(
'''
SELECT * FROM products ORDER BY quantity      
'''
)

for row in cursor.fetchall():
    print(row)

(3, 'P - C', 789.01, 1)
(6, 'P - G', 789.01, 1)
(2, 'P - B', 456.78, 2)
(5, 'P - F', 456.78, 2)
(1, 'P - A', 123.45, 3)
(4, 'P - D', 123.45, 3)

In [9]:
cursor.execute(
'''
SELECT * FROM products ORDER BY price, name;    
'''
)

for row in cursor.fetchall():
    print(row)

(1, 'P - A', 123.45, 3)
(4, 'P - D', 123.45, 3)
(2, 'P - B', 456.78, 2)
(5, 'P - F', 456.78, 2)
(3, 'P - C', 789.01, 1)
(6, 'P - G', 789.01, 1)

In [10]:
connection.close()